<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.debug.core.groups.GroupLaunchConfigurationType">
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.name" value="Prepare Caupona - Data"></stringAttribute>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.0.enabled" value="true"></booleanAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.mode" value="run"></stringAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.action" value="DELAY"></stringAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.0.actionParam" value="2"></stringAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.name" value="Run Caupona - Data"></stringAttribute>
    <booleanAttribute key="org.eclipse.debug.core.launchGroup.1.enabled" value="true"></booleanAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.mode" value="debug"></stringAttribute>
    <stringAttribute key="org.eclipse.debug.core.launchGroup.1.action" value="NONE"></stringAttribute>
</launchConfiguration>